<h3 *ngIf="languages.length==0">Loading...</h3>
<div class="container" *ngIf="languages.length>0">
    <h3>Employee Form </h3>
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
       <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
            <label class="control-label">First Name</label>
            <input #firstName="ngModel" type="text" required pattern="...+" class="form-control" name="firstName" 
            [(ngModel)]="model.firstName" 
            (ngModelChange)="firstNameToUpperCase($event)">

            <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
                First Name is required. minimum length should be more than 3 characters.
            </div>
        </div> 
        
        

        
         <div class="form-group">
            <label>Last Name</label>
            <input type="text" required #lastName="ngModel" class="form-control" name="lastName"
            [(ngModel)]="model.lastName">
            <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
                    last Name is required.
                </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-full-time" 
                [(ngModel)]="model.isFullTime"> Full Time Employee
            </label>

        </div>
  
        <label>Payment Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="w2" checked
                    [(ngModel)]="model.paymentType">
                w2
            </label>

        </div>
        <div class="radio">
                <label>
                    <input type="radio" name="paymentType" value="1099" 
                    [(ngModel)]="model.paymentType">
                    1099
                </label>
    
            </div>
          
            <div class="form-group" [class.has-error]="hasPrimaryLanguageError"> 
                <label class="control-label">Primary Language</label>
                <select class="form-control" #primaryLanguage
                 name="primaryLanguage"
                 (blur) ="validatePrimaryLanguage(primaryLanguage.value)"
                 (change) ="validatePrimaryLanguage(primaryLanguage.value)"
                [(ngModel)]="model.primaryLanguage">
                 <option value="default">Select a language...</option>
                    <option *ngFor="let lang of languages">
                        {{lang}}
                    </option>

                </select>
            </div>
            
            <!-- <div class="form-group">
                    <label>Date Hired</label>
                    <input type="date" class="form-control" >
                </div>  -->
                <!-- <button class="btn btn-primary" type="Submit">Ok</button>   -->
        <button class="btn btn-primary" type="Submit"
         [disabled]="form.invalid">Ok</button> 

        <h3>{{form.valid}}</h3>
    </form>
    Model:{{model | json}}
    <br>
   Angular:{{form.value | json}}
</div>
